*{
  background-color: #F7A4A4;
  font-family: 'Space Mono', monospace;
}

.App {
  text-align: center;
  
}

.App__nav{
  background-color: #B6E2A1;
  padding: 20px;
  height: 30px;
}


.nav__link{
  background-color: #B6E2A1;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
}